<% provide(:title,'All users') %>
<h1>All users</h1>

<%# @usersはpaginateメソッドを使用した結果である必要がある %>
<%= will_paginate %>

<ul class="users">
    <li>
      <%# renderの引数に文字列ではなくuserオブジェクトを渡している点に注目。
      Railsが自動で_user.html.erbのパーシャルを探しに行く

      <％ @users.each do |user| ％>
        <％= render user ％>
      <％ end %>

      <%# さらに・・
      ユーザーのコレクションを与えて呼び出すと、Railsが自動的にコレクションを列挙して
      それぞれのユーザを_user.html.erbパーシャルで出力する %>
      <%= render @users %>
    </li>
</ul>

<%= will_paginate %>
