<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:url, signup_path(@user)) %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# @userは新しいユーザなのでRailsが action="/users" method="post"を自動で生成する %>
    <%# CSRFを防いだり、文字コードを指定するinput hiddenも自動で生成される %>
    <%= render 'form' %>
  </div>
</div>
